<!-- HTML home page by Rhys Hegyi -->

<html>
<ion-app>

  <!-- Toolbar -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Law NLP Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true">

<!-- Text Area -->
  <ion-item-divider>
    <h1> Enter text: </h1>
  </ion-item-divider>
  <form>
    <ion-item>
      <ion-textarea  placeholder="Enter text here..." rows="20"  name="input" id = "input" [(ngModel)] = "text"></ion-textarea>
    </ion-item>
    
  <!-- Model selection 
  <ion-item>
    <ion-label>Model (WIP)</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
      </ion-select>
  </ion-item>

   Entity Selection 
  <ion-item>
    <ion-list>
      <ion-list-header>Entities (WIP)</ion-list-header>
        <ion-item>
          <ion-label>Injury</ion-label>
          <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-checkbox color="dark" checked slot="start"></ion-checkbox>
          <ion-label>Benefits</ion-label>
        </ion-item>
      </ion-list>
  </ion-item> -->

    <!-- Buttons -->
    <ion-button (click)="onSubmit()" expand="full" >
      Submit
    </ion-button>

    <ion-button type = "reset" expand="full" color="danger" >
      Clear
    </ion-button>
  </form>
</ion-content>
</ion-app>

</html>

<!-- Ms Hobden lodged a workers compensation claim form with the Respondent on 3 March 2009 
  alleging she suffered a psychological injury and wrist strain as a result of an “incident at work 
  with patient, and breach of confidentiality by work colleagues.” The date of injury as claimed was
   nominated as 26 January 2009 and it noted that she ceased work on 9 February 2009. As seen in the 
   case Daniel Andrews v Disney pty ltd, there was extensive lump sum compensation offered as well as 
   weekly payments offered. A decision of an Appeal Panel is not a decision of the Commission within 
   section 350 of the 1998 Act and it therefore does not determine liability-->
