<html>

<ion-app>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Law NLP Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item-divider>
    <h1> Enter text: </h1>
  </ion-item-divider>
  <form>
  <ion-item>
    <ion-label position="floating">Enter Text</ion-label>
      <ion-textarea  placeholder="Enter text here..." rows="20"  name="input" id = "input" [(ngModel)] = "text"></ion-textarea>
  </ion-item>


    <ion-button (click)="onSubmit()" expand="full" >
      Submit
    </ion-button>

    <ion-button type = "reset" expand="full" color="danger" (click)="onClear()">
      Clear
    </ion-button>




    <ion-item-divider>
      <h2> Results: </h2>
    </ion-item-divider>
    <ion-card>    
      <ion-card-content id = "results" >
        results will appear here
      </ion-card-content>
    </ion-card>

    <ion-button (click)="goToTop()" expand="full" color="success" >
      Go back to top
    </ion-button>
    
  </form>

</ion-content>
</ion-app>

<script>
 
</script>
</html>
